body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    border: 1px solid #333;
    border-radius: 5px;
}

.info{
    border: 1px solid #333;
    border-radius: 5px;
    
    max-height: 600px;
}

#text-area{
    min-height: 100px;
    max-height: 320px;
}

.top{
    flex: 1;
    
}


